.header{
    display: flex;
    width: auto;
    height: 60px;
    background: #016c57de;
    //box-shadow: 0px 15px 150px black;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-bottom: 0 !important;
           
        li:hover{
            animation-name: moviCon;
            animation-duration: .5s;
            animation-iteration-count:infinite;
            @keyframes moviCon {
                0%{
                position: relative;
                left: -3px;
                }
                50%{
                position: relative;
                left: 3px;
                }
                100%{
                position: relative;
                left: -3px;
                }
            }
        }
    }
}